body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  height: 80px;
}

.banner {
  min-height: 40vh;
  width: 100%;
  background-color: #000000;
  animation: rotateBackground 3s ease infinite;
}

@keyframes rotateBackground {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }

  100% {
    background-position: 100% 50%;
    transform: rotate(360deg);
  }
} */

.banner_group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.sideImage {
  width: 100%;
  height: 250px;
}
.banner-left {
  line-height: 20px;
}

.banner-left h2 {
  font-size: 50px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: "1.2em";
}

.banner p {
  line-height: 26px;
  color: white;
}
@media (max-width: 1250px) {
  .sideImage {
    display: none;
    line-height: "2em";
  }
}
@media (max-width: 1024px) {
  .sideImage {
    display: none;
  }
}

@media (max-width: 1024px) {
  .banner_group {
    padding: 20px 50px;
  }
  .sideImage {
    display: none;
  }
}
@media (max-width: 1023px) {
  .banner_group {
    padding: 20px 50px;
  }
  .banner {
    height: 60%;
  }
  .sideImage {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 60px;
  }
  .sideImage {
    display: none;
  }

  .banner-left h2 {
    font-size: 30vw;
  }
  .banner {
    height: 400%;
    width: 100%;
  }
  .banner p {
    font-size: 20px;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .sideImage {
    display: none;
  }
  .banner_group {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 50%;
    height: 50%;
  }

  .sideImage {
    display: none;
  }
  .banner {
    min-height: 60%;
    width: 100%;
  }
  .banner-left h2 {
    font-size: 24px;
  }
  .banner p {
    font-size: 18px;
  }
  .sideImage {
    display: none;
  }
  .banner_group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.list-container {
  height: 60%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.list {
  margin-top: 30px;
  margin-left: 160px;
  margin-right: 160px;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 45px;
  flex-direction: row;
  justify-content: space-between;
}

.submit-btn {
  cursor: pointer;
  background: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.3em 2em;
  color: #000000;
  margin: 2px;
  border: none;
  font-weight: 500;
  border: 1px solid #000000;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #f3d8a6;
  transform: scale(1.02);
  color: #873b0c;
  border: none;
}

@media (max-width: 780px) {
  .submit-btn {
    font-size: 0.9em;
    padding: 0.5em 1.5em;
  }
  .list-container {
    height: 60%;
    width: 100%;
    padding: 0;
    padding-top: 40px;
  }
  /* .list {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

  .sideImage {
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner-left h2 {
    font-size: 40px;
    margin-top: 48px;
    line-height: 50px;
  }
  .banner p {
    font-size: 18px;
    line-height: 30px;
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 480px) {
  .submit-btn {
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  .sideImage {
    display: none;
  }
  .list-container {
    height: 60%;
    width: 100%;
    padding: 0;
    padding-top: 40px;
  }
  .list {
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .banner {
    min-height: 100%;
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.popup-content {
  height: 37%;
  width: 37%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  border-radius: 10px;
}

#pop-up-yes {
  background-color: #30a309;
  color: #f0f0f0;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
#pop-up-no {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#question-p {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1030px) {
  .popup {
    width: 100%;
    height: 100%;
  }
  .popup-content {
    width: 90%;
    height: 30%;
    padding: 30px;
  }

  .sideImage {
    display: none;
  }
}

@media (max-width: 720px) {
  .popup-content {
    height: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 30px; */
  }
}

@media (max-width: 380px) {
  #warn-symbol {
    display: none;
  }
}

#list-title {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.home-container {
  height: 100%;
  width: 100%;
}
