body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  height: 60px;
}

.banner {
  min-height: 70%;
  width: 100%;
  background-image: linear-gradient(to right, #00a72f, #160a55);
  background-size: 200% 200%;
  animation: rotateBackground 3s ease infinite;
}

@keyframes rotateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner_group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

.sideImage {
  width: 100%;
  height: 250px;
}

.banner-left h2 {
  font-size: 34px;
  font-weight: 500;
  color: white;
}

.banner p {
  font-size: 35px;
  color: white;
  line-height: 2px;
}
@media (max-width: 1250px) {
  .sideImage {
    display: none;
  }
}
@media (max-width: 1024px) {
  .sideImage {
    display: none;
  }
}

@media (max-width: 1024px) {
  .banner_group {
    padding: 20px 50px;
  }
  .sideImage {
    display: none;
  }
}
@media (max-width: 1023px) {
  .banner_group {
    padding: 20px 50px;
  }
  .banner {
    height: 60%;
  }
  .sideImage {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 60px;
  }
  .sideImage {
    display: none;
  }

  .banner-left h2 {
    font-size: 30vw;
  }
  .banner {
    height: 400%;
    width: 100%;
  }
  .banner p {
    font-size: 20px;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .sideImage {
    display: none;
  }
  .banner_group {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 50%;
    height: 50%;
  }

  .sideImage {
    display: none;
  }
  .banner {
    min-height: 60%;
    width: 100%;
  }
  .banner-left h2 {
    font-size: 24px;
  }
  .banner p {
    font-size: 18px;
  }
  .sideImage {
    display: none;
  }
  .banner_group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.list-container {
  height: 60%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.list {
  margin-top: 20px;
  margin-left: 160px;
  margin-right: 160px;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-btn {
  cursor: pointer;
  background: #000000;
  font-size: 1em;
  padding: 0.5em 2em;
  color: white;
  margin: 2px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media (max-width: 780px) {
  .submit-btn {
    font-size: 0.9em;
    padding: 0.5em 1.5em;
  }
  .list {
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }

  .sideImage {
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner-left h2 {
    font-size: 40px;
    margin-top: 48px;
    line-height: 50px;
  }
  .banner p {
    font-size: 18px;
    line-height: 30px;
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 480px) {
  .submit-btn {
    font-size: 0.8em;
    padding: 0.5em 1em;
  }
  .sideImage {
    display: none;
  }
  .list-container {
    height: 60%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .list {
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .banner {
    min-height: 60%;
    width: 100%;
  }
}

#list-title {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.popup-content {
  background: rgb(255, 255, 255);
  height: 45%;
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.popup-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#pop-up-yes {
  background-color: rgb(5, 166, 11);
  color: white;
  padding: 12px 40px;
  border-radius: 5px;

  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#pop-up-no {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 12px 40px;
  font-size: 18px;
  border-radius: 0px;
}

#question-p {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 1030px) {
  .popup {
    width: 100%;
    height: 100%;
  }
  .popup-content {
    width: 90%;
    height: 30%;
    padding: 30px;
  }
  #warn-symbol {
    display: none;
  }
  .sideImage {
    display: none;
  }
}

@media (max-width: 720px) {
  .popup-content {
    height: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 30px; */
  }
}
