.matrix-table {
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.matrix-thead th,
.matrix-tbody td {
  vertical-align: middle; /* Ensure vertical alignment */
}

.matrix-header-empty {
  background-color: #d6d6d6;
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.matrix-header {
  padding: 0.5em 1em;
  text-align: center;
}

.matrix-thead tr {
  background-color: #ffffff;
  border-radius: 50px;
}

.matrix-header:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.matrix-header:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.matrix-tbody tr {
  background-color: white;
  border-radius: 50px;
  padding-top: 60px;
}

.matrix-cell {
  align-items: center;
  border: none;
}

.matrix-cell-label {
  background-color: #d6d6d6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  padding-left: 25px;
  align-items: center;
}

.matrix-cell:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.matrix-cell:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.radio-group input {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.matrix-tbody tr:nth-child(odd) .matrix-cell {
  background-color: #d3f8d2;
}

.matrix-tbody tr:nth-child(even) .matrix-cell {
  background-color: rgb(211, 248, 210);
}

@media screen and (max-width: 768px) {
  .matrix-header-empty {
    display: none;
  }

  .matrix-label {
    display: block;
    font-weight: bold;
    padding: 1em;
    font-size: 16px;
    color: #333;
  }

  .matrix-tbody tr:not(.question) .matrix-cell:first-child {
    display: none;
  }

  .matrix-header:nth-child(2) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .matrix-tbody tr .matrix-cell:nth-child(2) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

.matrix-label {
  display: none;
}

@media screen and (max-width: 768px) {
  .matrix-label {
    display: block;
    text-align: left;
    font-weight: bold;
    padding: 1em;
    font-size: 16px;
    color: #333;
  }

  .radio-group input {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-top: 12px;
  }
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 15px;
}
