.radio-item2 {
  position: relative; /* Position relative for tooltip */
}

.tooltip {
  visibility: hidden; /* Hidden by default */
  width: 120px; /* Set a width for the tooltip */
  background-color: rgba(0, 0, 0, 0.7); /* Background color */
  color: #fff; /* Text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Padding */
  position: absolute; /* Position absolute */
  z-index: 1; /* On top of other elements */
  bottom: 125%; /* Position above the label */
  left: 50%; /* Center the tooltip */
  margin-left: -60px; /* Adjust to center */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s; /* Fade effect */
}

.radio-item2:hover .tooltip {
  visibility: visible; /* Show tooltip on hover */
  opacity: 1; /* Fade in */
}
