.matrix-container {
  display: table;
  width: 100%;
  margin-top: 9px;
  border-collapse: separate;
  border-spacing: 0 20px;
  text-align: left;
}

.matrix-row {
  display: table-row;
  border-radius: 50px;
  height: 60px;
  text-align: left;
  color: black;
}

.matrix-cell {
  background-color: #e8f7e1;
  display: table-cell;
  color: rgb(24, 24, 24);
  vertical-align: middle;
  text-align: center;
  padding: 10px; /* Added padding for better spacing */
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group input {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

/* Default state for .pholder */
.pholder {
  display: none;
}

/* Media query for screens less than or equal to 576px */
@media (max-width: 576px) {
  .matrix-cell p {
    display: none;
  }

  .matrix-container {
    margin-right: 0; /* Removed margin-right */
    border-spacing: 0 10px; /* Reduced spacing between rows */
  }

  .pholder {
    display: block;
  }

  .matrix-cell {
    padding: 5px; /* Reduced padding */
    font-size: 12px; /* Reduced font size */
  }

  .radio-group input {
    height: 20px; /* Reduced size */
    width: 20px; /* Reduced size */
  }
}

.mainContainer-label {
  display: none;
}

@media (max-width: 576px) {
  .mainContainer-label {
    display: block;
  }
}
